.custom-button {
  cursor: pointer;
  width: 120px; 
  height: 40px; 
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: #6eff9e; 
  box-shadow: 4px 4px var(--main-color);
  font-size: 17px;
  font-weight: 600;
  color: var(--font-color);
  padding: 5px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-button:active {
  box-shadow: 0px 0px var(--main-color);
  transform: translate(3px, 3px);
}
