.message-form {
  display: flex;
  border-top: 2px solid #d3d3d3;
}

.messageInput {
  width: 250px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 15px;
  font-weight: 600;
  color: var(--font-color);
  padding: 5px 10px;
  outline: none;
}

.messageInput::placeholder {
  color: var(--font-color-sub);
  opacity: 0.8;
}

.messageInput:focus {
  border: 2px solid var(--input-focus);
}

.sendButton {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #2979ff;
  padding: 10px 20px; 
  border: none;
  margin-left: 10px; 
  cursor: pointer; 
}
