/* Define your color scheme */
:root {
  --primary-color: #4a4a4a;
  --secondary-color: #f0f0f0;
  --accent-color: #1890ff;
  --text-color: #ffffff;
  --online-status: #52c41a;
  --offline-status: #f5222d;
}
.online::before,
.offline::before {
  position: relative;
  display: inline-block;
  animation: shine 1.5s infinite alternate;
}

@keyframes shine {
  0% {
    opacity: 0.5; /* Initial opacity */
  }
  100% {
    opacity: 1; /* Full opacity */
  }
}

/* Reset some default styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Body styles */
body {
  font-family: "Arial", sans-serif;
  background-color: var(--secondary-color);
  color: var(--text-color);
}

.logo {
  background: linear-gradient(135deg, #ff6b6b, #feca57); /* Initial gradient background */
  padding: 10px;
  font-size: 24px;
  text-align: center;
  color: #333333; /* Dark blue text color */
  border-radius: 50%; /* Make it circular */
  width: 150px; /* Adjust size as needed */
  height: 150px; /* Adjust size as needed */
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
  display: flex; /* Use flexbox */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  font-family: 'YourCoolFont', sans-serif; /* Use your desired font */
  animation: animateRainbow 20s linear infinite, animateColor 10s ease infinite; /* Animation for rainbow effect and text color variation */
}

@keyframes animateRainbow {
  0% {
    background: linear-gradient(135deg, #ff6b6b, #feca57); /* Red and yellow gradient */
  }
  20% {
    background: linear-gradient(135deg, #feca57, #fffd80); /* Yellow and lemon gradient */
  }
  40% {
    background: linear-gradient(135deg, #fffd80, #a7ff83); /* Lemon and lime gradient */
  }
  60% {
    background: linear-gradient(135deg, #a7ff83, #57e0e3); /* Lime and aqua gradient */
  }
  80% {
    background: linear-gradient(135deg, #57e0e3, #5d2e8c); /* Aqua and indigo gradient */
  }
  100% {
    background: linear-gradient(135deg, #5d2e8c, #ff6b6b); /* Indigo and red gradient */
  }
}

@keyframes animateColor {
  0% {
    color: #333333; /* Dark blue text color */
  }
  25% {
    color: #1e90ff; /* Medium blue */
  }
  50% {
    color: #0000ff; /* Blue */
  }
  75% {
    color: #1e90ff; /* Medium blue */
  }
  100% {
    color: #333333; /* Dark blue text color */
  }
}



/* Sider styling */
.ant-layout-sider {
  background: linear-gradient(90deg, var(--primary-color), #333333);
  color: var(--text-color);
}

/* Menu styling */
.ant-menu-dark {
  background: linear-gradient(90deg, var(--primary-color), #333333);
  border-right: none;
}

.ant-menu-item {
  transition: all 0.3s; /* Smooth transition for all properties */
}

.ant-menu-item:hover {
  background-color: var(--accent-color);
  color: var(--text-color); /* Change text color on hover */
}

/* User status */
.connected-users h3,
.disconnected-users h3 {
  padding: 10px 0;
  text-align: center;
  position: relative;
  color: var(--text-color);
  font-size: 20px; /* Adjusted font size */
}

.connected-users h3::before,
.disconnected-users h3::before {
  content: "";
  position: absolute;
  left: -30px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.connected-users h3::before {
  background: var(--online-status);
  animation: pulse 1s infinite alternate;
}

.disconnected-users h3::before {
  background: var(--offline-status);
}

/* Sidebar styling */
.ant-layout-sider {
  background: linear-gradient(90deg, var(--primary-color), #333333);
  color: var(--text-color);
  overflow: hidden;
}

/* Sidebar header */
.ant-layout-sider .logo {
  margin: 20px;
  font-size: 28px;
  text-align: center;
  /* Add some padding for better visual separation */
  padding-bottom: 10px;
  border-bottom: 1px solid var(--text-color); /* Add border for visual separation */
}

/* Sidebar menu */
.ant-layout-sider .ant-menu-dark .ant-menu-item,
.ant-layout-sider .ant-menu-dark .ant-menu-submenu-title {
  transition: all 0.3s ease-in-out;
}

.ant-layout-sider .ant-menu-dark .ant-menu-item:hover,
.ant-layout-sider .ant-menu-dark .ant-menu-submenu-title:hover {
  background-color: var(--accent-color);
  color: var(--text-color);
}

/* Custom scrollbar for sidebar */
.ant-layout-sider::-webkit-scrollbar {
  width: 8px;
}

.ant-layout-sider::-webkit-scrollbar-thumb {
  background-color: var(--accent-color);
  border-radius: 10px;
}

/* Status indicator colors */
.online::before {
  content: "●";
  color: var(--online-status);
  margin-right: 5px;
}

.offline::before {
  content: "●";
  color: var(--offline-status);
  margin-right: 5px;
}

/* Animation for status indicator */
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

/* Welcome message */
.welcome-message {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-top: 0.1em;
}

.message-input-container {
  position: fixed;
  bottom: 0;
  left: 15rem;
  right: 3rem;
  z-index: 1;
  border-color: #1890ff;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  background-color: #ffffff;
}

Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
}
